.pushy{
    width: 300px; /* Changed the width to 400px */
}
nav > ul > li > ul{
  margin-left: 20px;
  margin-top:0px;
  padding: 1px;
}
nav > ul > li > ul > li{
  border-bottom: 2px dashed #353535;
}
.pushy-submenu-closed{
  height: 40px;
}
.pushy-left{
    transform: translate3d(-400px,0,0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}

.pushy-open-left #container,
.pushy-open-left .push {
    transform: translate3d(400px, 0, 0); /* Updated the values */
}

.pushy-right {
    transform: translate3d(400px, 0, 0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}

.pushy-open-right #container,
.pushy-open-right .push {
    transform: translate3d(-400px, 0, 0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}
.webgs-brand{
  padding: 15px 0px;
  font-size: 22px;
  color: #5bc0de;
  background-color: #2b2b2b;
}
body {
  margin: 0px;
  margin-top: 60px;
  padding: 0px;
  text-transform: uppercase;
}
.limitar-string {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
#secondNavbar, #thirdNavbar{
  background-color: #fff;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1030;
}
.right-bar{
  margin-left: 310px;
}
.list-contacts{
  border-top: 2px dashed #ececec;

  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.list-contacts:hover{
  background-color: #ececec;
}
.highlight{
  background-color: #ececec;
}
.sub-list-contacts{
  border-left: 3px solid #d19b3d;
}
.sub-list-item{
  margin-left: 3px;
}
.topbar{
  color: #e1ffff;
  vertical-align: middle;
  position: fixed;
  background-color: #23282e;
  left: 300px;
  width: 100%;
  top: 0;
  z-index: 100;
  border-top: 0;
  height: 50px;
}
.level1{
  color: red;
}
.level2{
  color: orange;
}
.level3{
  color: yellow;
}
.level4{
  color: green;
}
.level5{
  color: blue;
}
.extra{
  width: 90%;
}
.sub-image-div{
  overflow-y: auto;
}
#lista {
  font-weight: bold;
}
#anexoColuna {
  overflow-y: scroll;
  white-space: nowrap;
}
.colocar-rolagem{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px;
}
.modal-body{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}
.carregando > *{
  opacity: 0.45;

  -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
}
